<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>midtranspay</name>
	<displayName><![CDATA[Midtrans Pay]]></displayName>
	<version><![CDATA[1.0]]></version>
	<description><![CDATA[Accept payments for your products via Midtrans payment gateway.]]></description>
	<author><![CDATA[Midtrans]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure about uninstalling Midtrans pay?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>